:root {
  --red-primary: rgb(239, 68, 68);
  --red-secondary: rgb(239, 68, 68, 0.05);
  --black-primary: rgb(0, 0, 0);
  --black-secondary: rgb(0, 0, 0, 0.1);
  --grey-primary: rgb(123, 122, 122);
  --grey-secondary: rgb(199, 199, 199);
  --white-primary: #eceaea;
  --white-secondary: rgb(229, 229, 229);
  --box-shadow: 0 0.5rem 1.5rem var(--black-secondary);
  --border: 1px solid var(--black-secondary); /* rgb(232, 235, 238) */
  --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  --b-radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
